<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pokemon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pokemon.styles.css" asp-append-version="true" />
</head>
<body>
    @if (!(ViewData["OcultarHeader"] as bool? ?? false))
    {
        <header>
            <nav class="p-0 navbar navbar-expand-sm navbar-toggleable-sm mb-5">
                <div class="container">
                    <a tabindex="-1" class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/header-logo.png" alt="Logo" height="40px" width="100px" class="d-inline-block align-text-top" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                        <ul class="navbar-nav">
                            @if (User.Identity?.IsAuthenticated ?? false)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Jugadores/Index">Jugadores</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Torneos/Index">Torneos</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" id="toggleTheme" class="nav-link">
                                        🌗 Tema
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Logout">Salir</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a href="#" id="toggleTheme" class="nav-link">
                                        🌗 Tema
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Login">Ingresar</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }

    @RenderBody()


    @*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Pokemon - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>