@page
@model Pokemon.Pages.Torneos.IndexModel
@{
}
<div class="w-75 mx-auto">
    <h2>Lista de Torneos</h2>
    <a asp-page="/Torneos/Create" class="btn btn-primary mb-5" style="float:right;">Nuevo</a>   
    
    
</div>